COPYING filter=lfs diff=lfs merge=lfs -text
default.properties filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
res filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
AndroidManifest.xml filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.TXT filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
